app/node_modules/
venv/

app/bin/automation/.vagrant

app/chaves_ssh

BACKLOG.md

app/src/rust/target

.env
app/src/node/.env

node/generated/prisma
*.log

.DS_Store
Thumbs.db

.vscode/
app/src/node/https_pem/cert.pem
app/src/node/https_pem/key.pem
