node_modules/
venv/

bin/automation/.vagrant

src/node/uploads

src/rust/target
src/rust/.env
src/rust/storage_key
src/node/https_pem/

.env
node/.env

node/generated/prisma
*.log

.DS_Store
Thumbs.db

.vscode/
