app/node_modules/
venv/

app/bin/automation/.vagrant

app/src/node/uploads

BACKLOG.md

app/rust/src/rust/target
app/rust/src/rust/.env
app/rust/src/rust/storage_key
app/rust/src/node/https_pem/

.env
app/src/node/.env

node/generated/prisma
*.log

.DS_Store
Thumbs.db

.vscode/
app/src/node/https_pem/cert.pem
app/src/node/https_pem/key.pem
